Import interactors from the Yeastmine Database of genes that are present in saccharomyces cerevisiae

In [35]:
import pandas as pd
import numpy as np
import csv


# Read in the Interactions of the genes that are present in Saccharomyces cereviae
Int_Sacc_Genes = pd.read_csv('Interactions_Saccharomyces/Network_Interactions_Sacc_Genes.tsv',sep='\t')

Int_Sacc_Genes.head()

,Gene > Primary DBID,Gene > Systematic Name,Gene > Standard Name,Gene > Interactions > Participant 2 > Standard Name,Gene > Interactions > Participant 2 . Secondary Identifier,Gene > Interactions > Participant 2 . Primary Identifier,Gene > Interactions > Details > Relationship Type
0,S000000022,YAL024C,LTE1,AAT2,YLR027C,S000004017,genetic
1,S000000022,YAL024C,LTE1,ACS2,YLR153C,S000004143,genetic
2,S000000022,YAL024C,LTE1,ACS2,YLR153C,S000004143,genetic
3,S000000022,YAL024C,LTE1,ACS2,YLR153C,S000004143,genetic
4,S000000022,YAL024C,LTE1,ACT1,YFL039C,S000001855,genetic

In [55]:
Int_Drf1 = pd.read_csv('Interactions_Saccharomyces/Network_Interactions_Drf1.tsv',sep='\t')

Int_Drf1.rename(columns={'Gene > Standard Name':Int_Sacc_Genes.columns[3],
                          'Gene > Systematic Name':Int_Sacc_Genes.columns[4],
                            'Gene > Primary DBID': Int_Sacc_Genes.columns[5]}, 
                 inplace=True)

Int_Drf1.head()
Int_Drf1.insert(0,"Gene > Standard Name","DRF1")

for x in Int_Sacc_Genes.columns:
    
    if Int_Drf1.columns.contains(x):
        print(x)
    else:
        Int_Drf1.insert(0,x,"NA")
        
Int_Drf1.head()

Gene > Standard Name
Gene > Interactions > Participant 2 > Standard Name
Gene > Interactions > Participant 2 . Secondary Identifier
Gene > Interactions > Participant 2 . Primary Identifier

,Gene > Interactions > Details > Relationship Type,Gene > Systematic Name,Gene > Primary DBID,Gene > Standard Name,Gene > Interactions > Participant 2 . Primary Identifier,Gene > Interactions > Participant 2 . Secondary Identifier,Gene > Interactions > Participant 2 > Standard Name
0,NA,NA,NA,DRF1,S000001380,YIL118W,RHO3
1,NA,NA,NA,DRF1,S000001400,YIL138C,TPM2
2,NA,NA,NA,DRF1,S000001855,YFL039C,ACT1
3,NA,NA,NA,DRF1,S000004219,YLR229C,CDC42
4,NA,NA,NA,DRF1,S000004311,YLR319C,BUD6